{% extends "baseFiles/base.html" %}
{% block bodycontent %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fas fa-tachometer-alt"></i>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'payment_history' %}">
                            <i class="fas fa-file-invoice-dollar"></i>
                            Payment History
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'order_history' %}">
                            <i class="fas fa-shopping-cart"></i>
                            Order History
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">
                            <i class="fas fa-user"></i>
                            Profile
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <!-- Main content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block dashcontent %}{% endblock dashcontent %}
        </main>
    </div>
</div>
{% endblock %}